.footer {
  background: rgb(1, 112, 112);
  height: 100px;
  position: relative;
  color: #fff;
  overflow: auto;
  
}
.footer>.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(1, 70, 70);
  padding: 8px;
  font-weight: 600;
}
